.dynamic-order-line {
  padding: 2px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  border-radius: var(--border-radius-val);
  transition: background-color ease-in 1s;
  position: relative;
}
.dynamic-order-line .change-position__up, .dynamic-order-line .change-position__down {
  visibility: hidden;
}
.dynamic-order-line:hover {
  background-color: #eaeaea;
  transition: background-color ease-in 0.5s;
}
.dynamic-order-line:hover .change-position__up, .dynamic-order-line:hover .change-position__down {
  visibility: visible;
}
.dynamic-order-line:hover .dynamic-order-line__defer-button {
  visibility: visible;
}
.dynamic-order-line .dynamic-order-line__defer-button {
  cursor: pointer;
  top: 0.3em;
  position: absolute;
  left: 0;
  visibility: hidden;
}
.dynamic-order-line .dynamic-order-line__defer-button .defer-button__icon {
  filter: invert(22%) sepia(99%) saturate(5643%) hue-rotate(358deg) brightness(89%) contrast(126%);
  height: 1em;
}
.dynamic-order-line .dynamic-order-line__defer-button .defer-button__text {
  visibility: hidden;
  width: 120px;
  background-color: rgba(51, 51, 51, 0.95);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin: -5px 0px 0 5px;
  position: absolute;
  z-index: 1;
}
.dynamic-order-line .dynamic-order-line__defer-button:hover .defer-button__text {
  visibility: visible;
}
.dynamic-order-line .dynamic-order-line__position {
  display: flex;
  flex-direction: row;
}
.dynamic-order-line .dynamic-order-line__position .position__change-position {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dynamic-order-line .dynamic-order-line__position .position__change-position .change-position__up {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-radius: 0 2px;
  cursor: pointer;
  border-bottom: 13px solid #b7b7b7;
}
.dynamic-order-line .dynamic-order-line__position .position__change-position .change-position__up:hover {
  border-bottom: 13px solid #5f5f5f;
}
.dynamic-order-line .dynamic-order-line__position .position__change-position .change-position__down {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-radius: 0 2px;
  cursor: pointer;
  border-top: 13px solid #b7b7b7;
}
.dynamic-order-line .dynamic-order-line__position .position__change-position .change-position__down:hover {
  border-top: 13px solid #5f5f5f;
}
.dynamic-order-line .dynamic-order-line__order-num {
  text-align: center;
  border-radius: var(--border-radius-val);
  padding: 2px;
}
.dynamic-order-line .dynamic-order-line__order-num_loaded {
  background-color: #b8d8ef;
}
.dynamic-order-line .dynamic-order-line__order-num_duplicated {
  color: darkred;
}
.dynamic-order-line .dynamic-order-line__weight {
  display: flex;
  justify-content: center;
}
.dynamic-order-line .dynamic-order-line__loaded-status {
  display: flex;
  justify-content: center;
}
.dynamic-order-line .dynamic-order-line__col-1 {
  flex-basis: 30%;
}
.dynamic-order-line .dynamic-order-line__col-2 {
  flex-basis: 20%;
}
.dynamic-order-line .dynamic-order-line__col-3 {
  flex-basis: 20%;
}
.dynamic-order-line .dynamic-order-line__order-status .order-status__text {
  visibility: hidden;
  width: 120px;
  background-color: rgba(51, 51, 51, 0.82);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin: -5px 0px 0 5px;
  position: absolute;
  z-index: 1;
}
.dynamic-order-line .dynamic-order-line__order-status .order-status__icon {
  min-width: 20px;
  height: 25px;
  text-align: center;
  color: #5b5b5b;
}
.dynamic-order-line .dynamic-order-line__order-status .order-status__icon_not-started {
  filter: invert(22%) sepia(99%) saturate(5643%) hue-rotate(358deg) brightness(89%) contrast(126%);
}
.dynamic-order-line .dynamic-order-line__order-status .order-status__icon_completed {
  filter: invert(78%) sepia(62%) saturate(2088%) hue-rotate(331deg) brightness(90%) contrast(86%);
}
.dynamic-order-line .dynamic-order-line__order-status .order-status__icon_in-place {
  filter: invert(50%) sepia(67%) saturate(820%) hue-rotate(77deg) brightness(90%) contrast(80%);
}
.dynamic-order-line .dynamic-order-line__order-status:hover .order-status__text {
  visibility: visible;
}
.dynamic-order-line .dynamic-order-line__button {
  flex-basis: 30%;
}

.gate-place-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.gate-place-form * {
  font-size: 20px;
}
.gate-place-form .gate-place-form__loading-time-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gate-place-form .gate-place-form__loading-time-div .loading-time-div__header {
  color: #ababab;
}
.gate-place-form .gate-place-form__loading-time-div .loading-time-div__time-picker {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.gate-place-form .gate-place-form__loading-time-div .loading-time-div__time-picker .time-picker__separator {
  color: #ababab;
  margin-right: 10px;
}
.gate-place-form .gate-place-form__truck {
  display: flex;
  flex-direction: column;
}
.gate-place-form .gate-place-form__truck .truck__assign-truck-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.gate-place-form .gate-place-form__truck .truck__assign-truck-div .assign-truck-div__button {
  display: flex;
  flex-basis: 20%;
  justify-content: center;
}
.gate-place-form .gate-place-form__truck .truck__assign-truck-div .assign-truck-div__input {
  flex-basis: 80%;
}
.gate-place-form .gate-place-form__truck .truck__buttons-div .buttons-div__button {
  width: 100%;
}
.gate-place-form .gate-place-form__order-list {
  margin-top: 15px;
}
.gate-place-form .gate-place-form__order-list .order-list__info-div .info-div__header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
}
.gate-place-form .gate-place-form__order-list .order-list__info-div .info-div__header .header__col {
  background-color: #a6a6a6;
  font-weight: bold;
  padding: 5px;
  font-size: 0.8em;
  border-radius: var(--border-radius-val);
  color: #fff;
  text-align: center;
}
.gate-place-form .gate-place-form__order-list .order-list__info-div .info-div__header .header__col-1 {
  flex-basis: 33%;
}
.gate-place-form .gate-place-form__order-list .order-list__info-div .info-div__header .header__col-2 {
  flex-basis: 25%;
}
.gate-place-form .gate-place-form__order-list .order-list__info-div .info-div__header .header__col-3 {
  flex-basis: 20%;
}
.gate-place-form .gate-place-form__order-list .order-list__info-div .info-div__info {
  color: white;
  display: table;
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}
.gate-place-form .gate-place-form__order-list .order-list__info-div .info-div__info_completed {
  background-color: #56ad5d;
}
.gate-place-form .gate-place-form__order-list .order-list__info-div .info-div__info_in-process {
  background-color: #679ece;
}
.gate-place-form .gate-place-form__order-list .order-list__input-div .input-div__single-order-div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.gate-place-form .gate-place-form__order-list .order-list__input-div .input-div__single-order-div .single-order-div__input {
  width: 100%;
}
.gate-place-form .gate-place-form__order-list .order-list__orderlines {
  margin-top: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 40vh;
}
.gate-place-form .gate-place-form__order-list .order-list__finish-loading-confirm .finish-loading-confirm__buttons-div {
  padding: 15px;
  border-radius: var(--border-radius-val);
}
.gate-place-form .gate-place-form__order-list .order-list__finish-loading-confirm .finish-loading-confirm__buttons-div .buttons-div__button {
  width: 100%;
}
.gate-place-form .gate-place-form__order-list .order-list__finish-loading-confirm .finish-loading-confirm__buttons-div_is-ready {
  background-color: #679ece;
}

/*# sourceMappingURL=gatePlaceForm.css.map */
