
:root {
  --fontsize: 4vh;
  --formwidth: 25vw;
  --pickerBorderRadius: 2vh;
}

@mixin roundedDiv{
  margin: .5vh;
  border-radius: var(--pickerBorderRadius);
  padding: 1vh;
}

.picker-page {

  display: flex;
  flex-direction: column;
  height: 100vh;


  .picker-page__find-place {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5vh;
    width: var(--formwidth) ;
    justify-content: center;

    .find-place__barcode {

    }

    .find-place__loader-div {

    }

    .find-place__input-div {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      font-size: var(--fontsize);

      .input-div__input {
        width: 100%;

        & input {
          font-size: var(--fontsize);
        }

      }

      .input-div__clear {
        position: absolute;
        right: .3em;
      }
    }

    .find-place__locations {
      * {
        font-size: var(--fontsize);
      }

      .locations__order-num {
        @include roundedDiv();
        background-color: #b0b0b0;

        .order-num__order-line {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .order-line__criteria {

          }

          .order-line__num {

          }
        }
      }

      .locations__list {
        @include roundedDiv();
        background-color: #b0b0b0;
        .list__location {
          @include roundedDiv();
          background-color: #f3f3f3;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }

    .find-place__cancel-button {
      @include roundedDiv();
      font-size: calc(var(--fontsize) * .8 );
    }

  }
}
