.dispatcher-form {
  position: relative;

  .dispatcher-form__loader-div {
    margin-top: 10px;
    position: fixed;
    right: 20px;
  }


  .dispatcher-form__shipping-area {
    margin-top: 40px;
    display: flex;
    flex-direction: row;

    .shipping-area__gates {
      display: flex;
      flex-direction: column;

      * {
        font-size: 20px;
      }

      .gates__gate {
        padding: 15px;
        margin: 5px;
        display: flex;
        flex-direction: row;
        background-color: rgb(245, 245, 245);
        border-radius: var(--border-radius-val);

        .gate__gate-header {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .gate-header__gate-name {
            font-size: 20px;
            white-space: nowrap;
            min-width: 140px;
            display: flex;
            flex-direction: column;
          }

          .gate-header__history-image {
            max-height: 30px;
            margin-top: 2px;
            cursor: pointer;
            position: relative;
            left: -5px;
          }
        }

        .gate__gate-body {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-between;

          .gate-body__places {
            display: flex;
            flex-direction: row;

            .places__place {
              margin: 0 5px;
              padding: 10px;
              background-color: #c5c5c5;
              border: 2px solid #c5c5c5;
              border-radius: var(--border-radius-val);
              min-width: 140px;
              min-height: 100px;
              cursor: pointer;

              .place__header {
                display: flex;
                flex-direction: column;

                .header__indicators {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;

                  .indicators__name {
                    font-size: 20px;
                  }

                  .indicators__loading-status {
                    font-size: small;
                    font-weight: bold;
                    color: #000;
                  }

                  .indicators__loading-time {
                    max-height: 20px;
                    font-size: 12px;
                    text-align: center;
                    border-radius: 5px;
                    padding: 4px 3px 0;
                  }

                  .indicators__loading-time_yellow {
                    background-color: rgba(255, 255, 0, 0.29);
                  }

                  .indicators__loading-time_red {
                    background-color: rgba(255, 0, 0, 0.26);
                  }

                  .indicators__loading-time_green {
                    background-color: rgba(132, 194, 132, 0.86);
                  }

                  .indicators__assigned-truck {
                    background-color: #fafafa;
                    padding: 1px 3px;
                    border-radius: 3px;
                    border: 2px solid black;
                    width: 100%;
                    text-align: center;
                  }
                }
              }

              .place__orders {

                .orders__order {
                  color: #525252;
                }

                .orders__order_completed {
                  color: #006500;
                  border-radius: 3px;
                }

                .orders__order_duplicated {
                  color: darkred;
                  font-style: italic;
                }

                .orders__orders-counter-div {

                  .orders-counter-div__counter {
                    color: #5f5f5f;
                  }

                }
              }
            }

            .places__place:hover {
              //background-color: #b9b9b9;
              border-color: black;
            }

            .places__place:active {
              background-color: #9f9f9f;
            }

            .places__place_completed {
              background-color: #fff;
              border-color: #fff;
            }

            .places__place_in-process {
              background-color: #c4def5;
              border-color: #c4def5;
            }
          }


        }


      }
    }
  }

  .shipping-area__trucks {
    display: flex;
    margin: 5px 5px;
    padding: 10px;
    background-color: #e0e0e0;
    border: 0;
    border-radius: var(--border-radius-val);

    .trucks__header {
    }

    .trucks__truck-list {
      display: flex;
      flex-direction: column;


      * {
        font-size: 15px;
      }

      .truck_list__truck {
        display: flex;
        flex-direction: row;
        padding: 5px 10px;
        margin-bottom: 5px;
        align-items: center;
        border-radius: var(--border-radius-val);

        .truck__dt {
          margin: 0 5px;
        }

        .truck__name {
          background-color: #fafafa;
          padding: 1px 3px;
          border-radius: 3px;
          border: 2px solid black;
          width: 100%;
          min-width: 100px;
          text-align: center;
        }

        .truck__location {
          display: flex;
          flex-direction: row;
          min-width: 100%;
          .location__gate-place {
            white-space: nowrap;
            font-weight: bold;

          }

        }

        .truck__time-status {
          display: flex;
          flex-direction: column;
          width: 100%;

          .time-status__status {

          }

          .time-status__time {
            .time__hh-mm {
              font-weight: bold;
            }
          }

        }

      }

      .truck_list__truck_waiting {
        background-color: #a6a6a6;
      }

      .truck_list__truck_ready {
        background-color: #b7e1b7;
      }

      .truck_list__truck_loading {
        background-color: #c4def5;
      }

      .truck_list__truck_completed {

      }
    }
  }
}
