.dispatcher-form {
  position: relative;
}
.dispatcher-form .dispatcher-form__loader-div {
  margin-top: 10px;
  position: fixed;
  right: 20px;
}
.dispatcher-form .dispatcher-form__shipping-area .shipping-area__gates {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.dispatcher-form .dispatcher-form__shipping-area .shipping-area__gates .gates__gate {
  padding: 15px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  border-radius: var(--border-radius-val);
}
.dispatcher-form .dispatcher-form__shipping-area .shipping-area__gates .gates__gate .gate__places {
  display: flex;
  flex-direction: row;
}
.dispatcher-form .dispatcher-form__shipping-area .shipping-area__gates .gates__gate .gate__places .places__place {
  margin: 0 5px;
  padding: 0 5px;
  background-color: #c5c5c5;
  border: 0;
  border-radius: var(--border-radius-val);
  min-width: 130px;
  min-height: 100px;
  cursor: pointer;
}
.dispatcher-form .dispatcher-form__shipping-area .shipping-area__gates .gates__gate .gate__places .places__place .place__header {
  display: flex;
  flex-direction: column;
}
.dispatcher-form .dispatcher-form__shipping-area .shipping-area__gates .gates__gate .gate__places .places__place .place__header .header__indicators {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dispatcher-form .dispatcher-form__shipping-area .shipping-area__gates .gates__gate .gate__places .places__place .place__header .header__indicators .indicators__loading-status {
  font-size: small;
}
.dispatcher-form .dispatcher-form__shipping-area .shipping-area__gates .gates__gate .gate__places .places__place .place__header .header__indicators .indicators__last-upd {
  font-size: small;
  text-align: center;
}
.dispatcher-form .dispatcher-form__shipping-area .shipping-area__gates .gates__gate .gate__places .places__place .place__header .header__indicators .indicators__assigned-truck {
  background-color: #fafafa;
  padding: 1px 3px;
  border-radius: 3px;
  border: 2px solid black;
  width: 100%;
  text-align: center;
}
.dispatcher-form .dispatcher-form__shipping-area .shipping-area__gates .gates__gate .gate__places .places__place .place__orders .orders__order_completed {
  background-color: rgba(132, 194, 132, 0.86);
  color: #002f00;
  border-radius: 3px;
}
.dispatcher-form .dispatcher-form__shipping-area .shipping-area__gates .gates__gate .gate__places .places__place .place__orders .orders__order_duplicated {
  color: darkred;
}
.dispatcher-form .dispatcher-form__shipping-area .shipping-area__gates .gates__gate .gate__places .places__place:hover {
  background-color: #b9b9b9;
}
.dispatcher-form .dispatcher-form__shipping-area .shipping-area__gates .gates__gate .gate__places .places__place:active {
  background-color: #9f9f9f;
}
.dispatcher-form .dynamic-order-line {
  padding: 2px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dispatcher-form .dynamic-order-line .order-line__order-num {
  text-align: center;
}
.dispatcher-form .dynamic-order-line .order-line__order-num_duplicated {
  color: darkred;
}
.dispatcher-form .dynamic-order-line .order-line__order-status {
  text-align: center;
  flex-basis: 30%;
  color: #5b5b5b;
}
.dispatcher-form .dynamic-order-line .order-line__button {
  flex-basis: 30%;
}

/*# sourceMappingURL=dispatcherForm.css.map */
