.gate-place-form {
  display: flex;
  flex-direction: column;
  justify-items: center;

  * {
    font-size: 20px;
  }

  .gate-place-form__truck {
    display: flex;
    flex-direction: column;

    .truck__assign-truck-div {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .assign-truck-div__button {
        display: flex;
        flex-basis: 20%;
        justify-content: center;
      }

      .assign-truck-div__input {
        flex-basis: 80%;
      }
    }

    .truck__loading-time-div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .loading-time-div__header {
        color: #ababab;
      }

      .loading-time-div__time-picker {
        display: flex;
        align-items: center;
        flex-direction: row;

        .time-picker__select {
        }

        .time-picker__separator {
          color: #ababab;
          margin-right: 10px;
        }
      }


    }

    .truck__buttons-div {

      .buttons-div__button {
        width: 100%;
      }
    }
  }

  .gate-place-form__order-list {
    margin-top: 15px;

    .order-list__info {
      color: white;
      display: table;
      margin: 0 auto;
      padding: 5px;
      border-radius: 10px;
      width: 100%;
      text-align: center;
    }

    .order-list__info_completed {
      background-color: rgb(86, 173, 93);
    }

    .order-list__info_in-process {
      background-color: rgb(103, 158, 206);
    }

    .order-list__input-div {
      .input-div__single-order-div {
        display: flex;
        flex-direction: row;
        width: 100%;

        .single-order-div__input {
          width: 100%;
        }

      }
    }

    .order-list__header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 15px;

      span {
        background-color: #a6a6a6;
        font-weight: bold;

        padding: 5px;
        font-size: .8em;
        border-radius: var(--border-radius-val);
        color: #fff;
        flex-basis: 40%;
        text-align: center;
      }
    }

    .order-list__orderlines {
      margin-top: 20px;
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 40vh;

      .dynamic-order-line {
        padding: 2px;
        margin: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .dynamic-order-line__order-num {
          text-align: center;
          flex-basis: 50%;
          border-radius: var(--border-radius-val);
          padding: 2px;
        }

        .dynamic-order-line__order-num_loaded {
          background-color: rgb(184, 216, 239);
        }

        .dynamic-order-line__order-num_duplicated {
          color: darkred;
        }

        .dynamic-order-line__loaded-status {
          flex-basis: 50%;
          display: flex;
          justify-content: center;
        }

        .dynamic-order-line__order-status {

          .order-status__text {
            visibility: hidden;
            width: 120px;
            background-color: rgba(51, 51, 51, 0.82);
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            margin: -5px 0px 0 5px;

            position: absolute;
            z-index: 1;
          }

          .order-status__icon {
            min-width: 20px;
            height: 25px;
            text-align: center;
            color: #5b5b5b;
          }

          .order-status__icon_not-started {
            filter: invert(22%) sepia(99%) saturate(5643%) hue-rotate(358deg) brightness(89%) contrast(126%);
          }

          .order-status__icon_in-process {

          }

          .order-status__icon_completed {
            filter: invert(50%) sepia(67%) saturate(820%) hue-rotate(77deg) brightness(90%) contrast(80%);
          }
        }

        .dynamic-order-line__order-status:hover {
          .order-status__text {
            visibility: visible;
          }
        }

        .dynamic-order-line__button {
          flex-basis: 30%;
        }

      }
    }

    .order-list__finish-loading-confirm {
      .finish-loading-confirm__buttons-div {
        padding: 15px;
        border-radius: var(--border-radius-val);

        .buttons-div__button {
          width: 100%;
        }
      }

      .finish-loading-confirm__buttons-div_is-ready {
        background-color: rgb(103, 158, 206);
      }
    }
  }
}