.gate-place-form {
  display: flex;
  flex-direction: column;
  justify-items: center;

  .gate-place-form__header {
    display: flex;
    flex-direction: column;
    .header__name {

    }

    .header__assign-truck-div {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .assign-truck-div__button {
        display: flex;
        flex-basis: 20%;
        justify-content: center;
      }
      .assign-truck-div__input {
        flex-basis: 80%;
      }
    }

    .header__buttons-div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .buttons-div__button {
        width: 100%;
      }
    }
  }

  .gate-place-form__body {
    margin-top: 30px;

    .body__info {
      background-color:rgb(103, 158, 206);
      color: white;
      display: table;
      margin: 0 auto;
      padding: 5px;
      border-radius: 10px
    }

    .body__input-div {
      .body__single-order-div {
        display: flex;
        flex-direction: row;
        width: 100%;
        .single-order-div__input {
          flex-basis: 80%;
        }
        .single-order-div__button {
          display: flex;
          flex-basis: 20%;
          justify-content: center;

        }
      }
    }

    .body__orderlines {

    }
  }
}