
:root {
  --login-fontsize: 20px;
  --login-formwidth: 300px;
}

.login-form {

  * {
    font-size: var(--login-fontsize);
  }

  width: var(--login-formwidth);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .login-form__header {
    color: #313cb0;
    margin-bottom: 50px;
    margin-top: -100px;
    font-size: calc(var(--login-fontsize)*1.5)
  }


  .login-form__input {
    margin-bottom: var(--login-fontsize);
  }

  .login-form__user-input {

  }

  .login-form__password-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;


    .password-input__show-password-icon-div {
      position: absolute;
      color: lightgray;

      .password-input__show-password-icon {
        opacity: .5;
        width: var(--login-fontsize);
        position: relative;
        top: calc(.5em + (100px - var(--login-fontsize)) * .1);
        right: .5em;
        cursor: pointer;
      }

    }
  }

  .login-form__login-button {

  }


}


@media (min-height: 1200px) {
  :root {
    --login-fontsize: 25px;
    --login-formwidth: 500px;
  }
}

@media (min-height: 2000px) {
  :root {
    --login-fontsize: 85px;
    --login-formwidth: 1500px;
  }
}


