.clearButton{
    background-color: #5d5d5d;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.clearButton__x{
    font-weight:bold;
    font-size: .5em;
    color: white;
}