@import "src/components/ShippingArea/NavPanel/shippingAreaNavPanel";

:root {
  --shipping-area-max-width: 60vw;
}

.dispatcher-form {
  position: relative;
  margin-top: 40px;

  .dispatcher-form__loader-div {
    margin-top: 10px;
    position: fixed;
    right: 20px;
    top: 10px;
  }

  .dispatcher-form__shipping-area {

    display: flex;
    flex-direction: row;

    .shipping-area__gates {
      display: flex;
      flex-direction: column;

      * {
        font-size: 20px;
      }

      .gates__gate {
        padding: 15px;
        margin: 5px;
        display: flex;
        flex-direction: row;
        background-color: rgb(245, 245, 245);
        border-radius: var(--border-radius-val);


        .gate__gate-header {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .gate-header__gate-name {
            font-size: 20px;
            white-space: nowrap;
            min-width: 140px;
            display: flex;
            flex-direction: column;
          }

          .gate-header__history-image {
            max-height: 30px;
            margin-top: 2px;
            cursor: pointer;
            position: relative;
            left: -5px;
          }
        }

        .gate__gate-body {
          display: flex;
          flex-direction: column;
          justify-content: space-between;


          .gate-body__places {
            display: flex;
            flex-direction: row;
            max-width: var(--shipping-area-max-width);
            flex-wrap: wrap;

            .places__place {
              margin: 5px 5px;
              padding: 10px;
              background-color: #c5c5c5;
              border: 2px solid #c5c5c5;
              border-radius: var(--border-radius-val);
              min-width: 140px;
              min-height: 100px;
              cursor: pointer;

              .place__header {
                display: flex;
                flex-direction: column;

                .header__indicators {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;

                  .indicators__name {
                    font-size: 20px;
                  }

                  .indicators__loading-status {
                    font-size: small;
                    font-weight: bold;
                    color: #000;
                  }

                  .indicators__loading-time {
                    max-height: 20px;
                    font-size: 12px;
                    text-align: center;
                    border-radius: 5px;
                    padding: 4px 3px 0;
                  }

                  .indicators__loading-time_yellow {
                    background-color: rgba(255, 255, 0, 0.29);
                  }

                  .indicators__loading-time_red {
                    background-color: rgba(255, 0, 0, 0.26);
                  }

                  .indicators__loading-time_green {
                    background-color: rgba(132, 194, 132, 0.86);
                  }

                  .indicators__assigned-truck {
                    background-color: #e0e0e0;
                    padding: 1px 3px;
                    margin: 5px 0;
                    border-radius: var(--border-radius-val);
                    border: 2px solid #989898;
                    width: 100%;
                    text-align: center;
                  }
                }
              }

              .place__orders {

                .orders__counters {
                  display: flex;
                  flex-direction: column;

                  .counters__counter {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    padding: 5px;
                    margin: 2px 0;
                    border-radius: var(--border-radius-val);
                    background-color: #e0e0e0;

                    .counter__text {
                      font-size: 15px;
                    }

                    .counter__value {
                      font-size: 15px;
                    }
                  }

                  .counters__counter_not-started {
                    background-color: #e39e9e;
                  }

                  .counters__counter_in-place {
                    background-color: #7cb67c;
                  }

                  .counters__counter_has-duplicate {
                    color: darkred;
                  }
                }
              }
            }

            .places__place:hover {
              //background-color: #b9b9b9;
              border-color: black;
            }

            .places__place:active {
              background-color: #9f9f9f;
            }

            .places__place_completed {
              background-color: #fff;
              border-color: #fff;
            }

            .places__place_in-process {
              background-color: #c4def5;
              border-color: #c4def5;
            }
          }
        }
      }
    }
  }

}
