.shipping-area__trucks{
  display: flex;
  margin: 5px 5px;
  padding: 10px;
  background-color: #e0e0e0;
  border: 0;
  border-radius: var(--border-radius-val);

  .trucks__header {
  }

  .trucks__truck-list {
    display: flex;
    flex-direction: column;


    * {
      font-size: 15px;
    }

    .truck_list__truck {
      display: flex;
      flex-direction: column;
      padding: 5px 10px;
      margin: 5px 0;
      border-radius: var(--border-radius-val);
      min-width: 200px;
      .truck__dt {
        margin: 1px 0;
      }
      .truck__name {
        display: flex;
        justify-content: center;
        background-color: #fafafa;
        padding: 1px 3px;
        border-radius: 3px;
        border: 2px solid black;
      }

      .truck__location {
        display: flex;
        flex-direction: row;
        .location__gate-place {
          white-space: nowrap;
          font-weight: bold;
        }

      }

      .truck__time-status {
        display: flex;
        flex-direction: row;

        .time-status__status {

        }

        .time-status__time {
          margin-right: 5px;
          .time__hh-mm {
            font-weight: bold;
          }
        }

      }

    }

    .truck_list__truck_waiting {
      background-color: #a6a6a6;
    }

    .truck_list__truck_waiting_not-complete {
      background-color: #d78f3b;
    }

    .truck_list__truck_ready {
      background-color: #7cb67c;
    }

    .truck_list__truck_loading {
      background-color: #c4def5;
    }

    .truck_list__truck_completed {

    }
  }
}
